/* COMMON */
:root {
	--_primary-clr: #2d64e6;
	--_light-text-clr: #fff;
	--_medium-text-clr: #555;
	--_btn-clr: #cd3d0f;
	--_primary-bg-clr: #bebcbb;
	--_secondary-bg-clr: #161c3b;
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

section {
	padding: 2rem 0;
}

._container {
	width: 92%;
	margin: 0 auto;
}

._w-33 {
	width: 33%;
}

/* HEADER */
.header-top {
	height: 2rem;
	background-color: #000;
}

.sony-logo-wrapper {
	padding: 0.5rem;
	width: 6rem;
}

/* NAV */
.ps-logo-wrapper {
	width: 4rem;
}

/* MAIN */
.jumbotron-1 {
	position: relative;
	height: 42rem;
	color: var(--_light-text-clr);
	background-image: url(../img/jumbo-bg.png);
}

.jumbo-content {
	position: absolute;
	bottom: 3rem;
}
