/* VARIABLES */
:root {
	--_primary-clr: #2d64e6;
	--_light-text-clr: #fff;
	--_medium-text-clr: #555;
	--_btn-clr: #cd3d0f;
	--_light-bg-clr: #bebcbb;
	--_dark-bg-clr: #222;
	--_secondary-bg-clr: #161c3b;
}

/* COMMON */
body {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
}

ul {
	list-style: none;
}

section {
	padding: 2rem 0;
}

._container {
	margin: 0 auto;
	width: 90%;
}

/* HEADER */
._header-top img {
	padding: 0.3rem;
	width: 6rem;
}

/* NAV */
.ps-logo-wrapper {
	width: 4rem;
}

nav {
	background-color: var(--_light-text-clr);
}

nav li {
	display: inline-block;
}

/* MAIN */
._jumbotron {
	color: var(--_light-text-clr);
}

._jumbotron-1 {
	background-position: 50% 5rem;
	padding: 20rem 0 3rem;
	background-image: url(../img/jumbo-bg.png);
}

._jumbo-content img {
	width: 85%;
}

._jumbotron-2 {
	background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
	background-size: cover;
	background-position: 50%;
}

/* NEW-RELEASES */
._new-releases {
	color: var(--_light-text-clr);
	background-color: var(--_dark-bg-clr);
}

/* PLAYSTATION-PLUS */
._ps-plus {
	background-color: var(--_light-bg-clr);
}

/* PLAYSTATION-NOW */
._ps-now {
	color: var(--_light-text-clr);
	background-color: var(--_secondary-bg-clr);
}

/* FOOTER */
footer {
	color: var(--_light-text-clr);
	background-color: var(--_primary-clr);
}

._footer-top ._img-wrapper {
	width: 20%;
	filter: grayscale(1) brightness(3);
}

._footer-top a {
	color: var(--_light-text-clr);
}

._footer-bottom ._img-wrapper {
	width: 25%;
}
