/* VARIABLES */
:root {
	--_primary-clr: #2d64e6;
	--_light-text-clr: #fff;
	--_medium-text-clr: #777;
	--_btn-clr: #cd3d0f;
	--_light-bg-clr: #bebcbb;
	--_dark-bg-clr: #222;
	--_secondary-bg-clr: #161c3b;
}

/* COMMON */
body {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	font-size: 0.9rem;
	text-decoration: none;
	color: var(--_light-text-clr);
}

h2 {
	font-size: 2.5rem;
}

img {
	width: 100%;
}

p {
	padding: 1rem 0;
}

section {
	padding: 4rem 0;
}

ul {
	list-style: none;
	margin-bottom: 0;
}

._container {
	margin: 0 auto;
	width: 90%;
}

._img-wrapper {
	border-radius: 1rem;
	overflow: hidden;
}

/* BUTTONS */
._btn-orange {
	color: var(--_light-text-clr);
	background-color: var(--_btn-clr);
}

._btn-orange:hover {
	color: var(--_btn-clr);
	background-color: var(--_light-text-clr);
}

._btn-blue {
	color: var(--_light-text-clr);
	background-color: var(--_primary-clr);
}

._btn-blue-invert {
	color: var(--_primary-clr);
	background-color: #ddd;
}

._btn-blue-invert:hover {
	color: var(--_light-text-clr);
	background-color: var(--_primary-clr);
}

._btn-light {
	color: var(--_secondary-bg-clr);
	background-color: #ddd;
}

._btn-light:hover {
	color: var(--_light-text-clr);
	background-color: var(--_primary-clr);
}

/* HEADER */
._header-top img {
	padding: 0.3rem;
	width: 6rem;
}

/* NAV */
.ps-logo-wrapper {
	width: 4rem;
}

nav a {
	color: #000;
	padding: 0 0.5rem;
}

nav a:after {
	content: url(../img/chevron-down-solid.svg);
	display: inline-block;
	padding-left: 0.2rem;
	width: 1rem;
	position: relative;
	top: 0.3rem;
}

nav {
	background-color: var(--_light-text-clr);
}

nav li {
	display: inline-block;
}

/* MAIN */
._jumbotron {
	color: var(--_light-text-clr);
}

._jumbotron-1 {
	background-position: 50% 5rem;
	padding: 20rem 0 3rem;
	background-image: url(../img/jumbo-bg.png);
}

._jumbo-content img {
	width: 85%;
}

._jumbotron-2 {
	background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
	background-size: cover;
	background-position: 50%;
}

/* DEVICES */
._devices h6 {
	font-weight: 600;
	color: var(--_primary-clr);
}

._devices ._card {
	opacity: 0.6;
	transition: 150ms;
}

._devices ._card:hover {
	opacity: 1;
	border-bottom: 2px solid var(--_primary-clr);
}

._devices p,
._explore-ps4 p,
._new-discounts p {
	color: var(--_medium-text-clr);
}

/* NEW-RELEASES */
._new-releases {
	color: var(--_light-text-clr);
	background-color: var(--_dark-bg-clr);
}

._new-releases ._img-wrapper:hover {
	opacity: 0.6;
}

/* PLAYSTATION-PLUS */
._ps-plus {
	background-color: var(--_light-bg-clr);
}

/* PLAYSTATION-NOW */
._ps-now {
	color: var(--_light-text-clr);
	background-color: var(--_secondary-bg-clr);
}

/* FOOTER */
footer {
	color: var(--_light-text-clr);
	background-color: var(--_primary-clr);
}

._footer-top ._img-wrapper {
	width: 20%;
	filter: grayscale(1) brightness(3);
}

._footer-top a {
	font-size: 0.8rem;
}

._footer-top ._img-wrapper {
	position: relative;
}

._footer-top ._img-wrapper::after {
	content: "\00AE";
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;

	font-size: 0.8rem;
}

._footer-bottom ._img-wrapper {
	width: 25%;
}

._footer-bottom p {
	font-size: 0.8rem;
}
